body {
    background-color: rgb(245, 242, 242);

}


.jumbotron {
    margin-top: 8rem;
}




.jumbotron p {
    margin-top: 35px;
}

h1 {
    font-size: 45px;
}

/* about */
#aboutme {
    width: 100%;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

hr {
    width: 120px;
    margin: auto;
    margin-bottom: 20px;
}

#aboutme img {
    position: relative;
    right: -100px;
}

/* akhir about */

/* award */
#Award {
    width: 100%;
    background-color: white;
    padding: 3rem;
}

/* akhir award */




/* contact */
#contact {
    margin: 70px 0;
}

#contact h2 {
    font-size: 110px;
}

.wrapper a {
    text-decoration: none;
    margin: 0 30px;
    position: relative;
    top: 40px;
}

/* akhir contact */