body {
    background-color: rgb(245, 242, 242);


}


.jumbotron {
    padding-top: 8rem;
    padding-bottom: 4rem;
    background: linear-gradient(90deg, #4000e1, #3e1e59 86%);
    color: white;


}


.jumbotron .tulis {
    padding-top: 2rem;
    margin-top: 6rem;

}

.jumbotron h3 {
    margin-top: 35px;
    font-style: italic;
}

h1 {
    font-size: calc(4vw + 13px);
    margin: 10px auto;
}

/* about */
#aboutme {
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;



}

#about img {
    margin-right: -100px;
}

hr {
    width: 120px;
    margin: 0 auto;


}




/* akhir about */
#project {
    background: linear-gradient(90deg, #4000e1, #3e1e59 86%);
    padding-top: 4rem;
    margin-top: 20px;


}

#project h2 {
    color: white;

}

.putih {
    border-bottom: 1px solid white;
    width: 120px;
    margin: auto;

}

.judul {
    font-weight: bold;
}

.explain {
    text-align: justify;
}

/* award */
#Award {
    width: 100%;
    background-color: white;
    padding-top: 4rem;
    padding-bottom: 6rem;

}

/* akhir award */




/* contact */
#contact {
    padding: 70px 0;
    background: linear-gradient(90deg, #4000e1, #3e1e59 86%);
    color: white;

}

#contact h2 {
    font-size: 8vw;
}

.wrapper a {
    text-decoration: none;
    margin: 0 30px;
    position: relative;
    top: 40px;
}

/* akhir contact */