body {
    background-color: rgb(245, 242, 242);
    min-height: 2000px;
}


.jumbotron {
    margin-top: 8rem;
}




.jumbotron p {
    margin-top: 35px;
}

h1 {
    font-size: 45px;
}

/* about */
#about {
    width: 100%;
    background: linear-gradient(90deg, #4000e1, #3e1e59 86%);
    padding: 3rem;
    color: white;
}

hr {
    width: 120px;
    margin: auto;
    margin-bottom: 20px;
}


/* akhir about */